<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">

    <!--  Styling  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/setup/assets/styles/style.css">

    <title>Nordique Setup</title>
</head>
<body>
<header class="main-header">
    <div class="logo"><a href="{{baseUrl}}/setup"><img src="{{baseUrl}}/setup/assets/images/logo-nordique-basisproject.png" alt="Nordique Basisproject"></a></div>
</header>
<div id="main">
    {{^helpers.hasWP}}<div class="notice error"><p>WordPress is niet gevonden. Sommige functionaliteiten zijn uitgeschakeld.</p></div>{{/helpers.hasWP}}
    {{{content}}}
</div>
<footer>
    <!--  Scripts  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/php.min.js"></script>
    <script src="{{baseUrl}}/setup/assets/scripts/index.js"></script>
</footer>
</body>
</html>