# Disable access to all file types except the following
Order deny,allow
Deny from all
<Files ~ ".(xml|css|js|jpe?g|png|gif|pdf|docx|rtf|odf|zip|svg|ttf|woff|woff2|ico|tif|tiff)$">
Allow from all
</Files>